body{
    background-color: #EEE;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height:100vh;
}
.area{
    width:100%;
    max-width:350px;
    text-align:center;
    padding:10px;
}
.logo{
    width:100px;
    height: auto;
}
h2{
    margin-top:20px;
    margin-bottom:20px;
}
.forms{
    margin-bottom:5px;
}
.remember{
    padding-top:20px;
    padding-bottom:20px;
}
.gray{
    color:#999999;
    padding:20px;
}